@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Mulish", sans-serif;
}

* {
  font-family: "Mulish", sans-serif;
}

.heading-one {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}

.heading-two {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
}

.heading-three {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 56px;
  color: #000000;
}

.heading-four {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #1f1534;
}

.heading-five {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 32px;
  color: #7d7987;
}

.lead-one {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}

.lead-two {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
}

.lead-three {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 56px;
  color: #000000;
}

.lead-four {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #1f1534;
}

.lead-five {
  font-family: Mulish;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: #7d7987;
}
